<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to {{title}}!
  </h1>
  <div class="form-group">
    <label for="startView">Start View</label>
    <select id="startView" [(ngModel)]="startView">
      <option>year</option>
      <option>month</option>
      <option>day</option>
      <option>hour</option>
      <option>minute</option>
    </select>
    <small class="form-text text-muted">Determines the initial view for the calendar.</small>
  </div>

  <div>
    <dl-date-time-picker class="en" [startView]="startView"></dl-date-time-picker>
  </div>
</div>
